.window {
    position: absolute;
    background-color: var(--bg-color-primary);
    width: 700px;
    height: 500px;
    min-width: 350px;
    min-height: 230px;
    border-radius: 5px;
    resize: both;
    z-index: 5;
    overflow: hidden;
    &__top-bar {
        display: flex;
        align-items: center;
        padding: .5rem;
        background-color: var(--bg-color-secondary);
        gap: .3rem;
    }
    &__close-button, &__full-screen-button, &__minimalize-button {
        background-color: red;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    &__full-screen-button {
        background-color: yellow;
    }
    &__minimalize-button {
        background-color: rgb(29, 194, 29);
    }
    &__icon {
        height: 20px;
        width: auto;
        margin-left: 10px;
        margin-right: -5px;
    }
    &__name {
        margin-left: .3rem;
        font-weight: 500;
    }
    &__content {
        height: 100%;
        overflow-y: auto;
    }
    &__content--extended {
        display: grid;
        grid-template-columns: 140px auto;
        max-height: 90vh;
        overflow-y: auto;
    }
    &__navigation-pane {
        border-right: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        box-sizing: border-box;
        height: inherit;
    }
    &__navigation-pane-item {
        display: flex;
        align-items: center;
        gap: 5px;
        box-sizing: border-box;
        padding: .2rem .5rem;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
        img {
            height: 14px;
            width: auto;
        }
        &:hover {
            background-color: hsla(240, 100%, 50%, 0.1);
        }
        &:active {
            background-color: hsla(240, 100%, 50%, 0.3);
            user-select: initial;
        }
    }
}

.fullscreen {
    left: 0;
    top: 0;
    width: 98vw!important;
    height: 96vh!important;
    transform: none!important;
    resize: none;
}

.window.console {
    background-color: #000;
    .window__top-bar {
        background-color: #212121;
        color: #fff;
    }
    .window__content {
        font-family: "consolas";
        color: #fff;
    }
}

.portfolio {
    min-width: 200px;
    width: 150px;
    resize: none;
}

.error {
    width: 75px;
    min-height: initial;
    height: fit-content;
}

.unresizble {
    height: fit-content;
    resize: none;
    .window__full-screen-button {
        display: none;
    }
}