.window {
    position: absolute;
    background-color: var(--bg-color-primary);
    width: 700px;
    // height: 500px;
    min-width: 350px;
    min-height: 230px;
    border-radius: 5px;
    resize: both;
    z-index: 5;
    overflow: auto;
    &__top-bar {
        display: flex;
        align-items: center;
        padding: .5rem;
        background-color: var(--bg-color-secondary);
        gap: .3rem;
    }
    &__close-button, &__full-screen-button, &__minimalize-button {
        background-color: red;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    &__full-screen-button {
        background-color: yellow;
    }
    &__minimalize-button {
        background-color: rgb(29, 194, 29);
    }
    &__name {
        margin-left: .3rem;
        font-weight: 500;
    }
    &__content {
        max-height: 90vh;
        overflow-y: auto;
    }
}

.fullscreen {
    left: 0;
    top: 0;
    width: 98vw!important;
    height: 96vh!important;
    transform: none!important;
    resize: none;
}

.window.console {
    background-color: #000;
    .window__top-bar {
        background-color: #212121;
        color: #fff;
    }
    .window__content {
        font-family: "consolas";
        color: #fff;
    }
}

.portfolio {
    min-width: 200px;
    width: 150px;
    resize: none;
}