<ng-container *ngIf="windows$ | async as windows">
  <div
    class="window mat-elevation-z2"
    [class.console]="console"
    [class.portfolio]="name == 'Portfolio'"
    [class.unresizble]="isUnresizeble()"
    [class.error]="error"
    [style.z-index]="windows.indexOf(name.toLowerCase()) + 10"
    (mousedown)="onSetInFront()"
    cdkDrag
    (cdkDragStarted)="onDragStart()"
    #window
  >
    <div class="window__top-bar" cdkDragHandle (dblclick)="onFullScreen()">
      <div class="window__close-button" (click)="onClose()"></div>
      <div class="window__full-screen-button" (click)="onFullScreen()"></div>
      <div class="window__minimalize-button" (click)="onMinimalize()"></div>
      <img class="window__icon" [src]="getImgUrl(name)">
      <span class="window__name">{{ showName ?? name }}</span>
    </div>
    <div class="window__content" [class.window__content--extended]="isFolder()">
      <div class="window__navigation-pane" *ngIf="isFolder()">
        <div
          class="window__navigation-pane-item"
          *ngFor="let navigationPaneItem of navigationPaneItems"
          (click)="onOpenNavigationPaneItem(navigationPaneItem.name)">
            <img [src]="getImgUrl(navigationPaneItem.name)">
            {{ navigationPaneItem.showName }}
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
