
<ng-container *ngIf="{ windows: windows$ | async, minimizeds: minimizeds$ | async } as vs" >
  <div
    class="window mat-elevation-z2"
    [class.console]="name == 'cl'"
    [class.portfolio]="name == 'Portfolio'"
    [class.image]="name == 'Image'"
    [class.event]="name == 'Event'"
    [class.chess]="name == 'Chess'"
    [class.unresizble]="isUnresizeble()"
    [class.error]="error"
    [class.vim]="vim"
    [class.unactive]="vs.windows.indexOf(name.toLowerCase()) != vs.windows.length - 1"
    [style.z-index]="vs.windows.indexOf(name.toLowerCase()) + 10"
    (mousedown)="onSetInFront()"
    cdkDrag 
    cdkDragBoundary="main"
    (cdkDragStarted)="onDragStart()"
    #window>
    <div class="window__top-bar" cdkDragHandle (dblclick)="onFullScreen()">
      <section class="window__description">
        <img class="window__icon" [src]="getImgUrl(name)">
        <span class="window__name">{{ showName ?? name }}</span>
      </section>
      <section class="window__actions" *ngIf="!vim">
        <div class="window__minimalize-button" (click)="onMinimalize()"><mat-icon>minimize</mat-icon></div>
        <div class="window__full-screen-button" (click)="onFullScreen()"><mat-icon>fullscreen{{ fullscreen ? '_exit' : '' }}</mat-icon></div>
        <div class="window__close-button" (click)="onClose()"><mat-icon>close</mat-icon></div>
      </section>
    </div>
    <div class="window__inner">
      <div class="navigation-pane" *ngIf="isFolder()">
        <div
          class="navigation-pane-item"
          [class.navigation-pane-item--selected]="navigationPaneItem.showName == name"
          *ngFor="let navigationPaneItem of navigationPaneItems"
          (mouseup)="onOpenNavigationPaneItem(navigationPaneItem.name, $event)">
            <img [src]="getImgUrl(navigationPaneItem.name)">
            {{ navigationPaneItem.showName }}
        </div>
      </div>
      <div class="window__content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</ng-container>
