.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.position {
    width: 75px;
    height: 75px;
    display: grid;
    place-items: center;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    user-select: none;
    transition: .2s;
    &--selected {
        background-color: yellow!important;
    }
}

.black {
    background-color: rgb(var(--primary-color));
    color: #fff;
}

.piece {
    
    width: 40px;
    height: 40px;
}
