.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    align-items: center;
    gap: 1rem;
}

.error-message {
    display: flex;
    gap: .7rem;
    h1 {
        transform: translateY(2px);
    }
}
.error-icon {
    height: 35px;
    width: 35px;
}

.error-button {
    width: 100%;
}