:host {
    padding-top: .2rem;
    padding-left: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
}


.folder {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;
    z-index: 4;
    user-select: none;
    padding: .2rem;
    border-radius: 6px;
    &__image {
        padding: .5rem;
        width: 80px;
        transition: .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &__name {
        color: white;
        font-weight: bold;
    }
    &:hover {
        background-color: rgba(var(--primary-color), .2);
    }
    &:active {
        .folder__image {
            transform: scale(.9);
        }
    }
    &:focus {
        background-color: rgba(var(--primary-color), .4);
    }
}