.boot-screen {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    box-sizing: border-box;
    color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    z-index: 99999999999;
}

.title {
    font-family: 'Roboto Mono', monospace;
}

.options {
    display: grid;
    border: 1px solid #fff;
    padding: .5rem .5rem 10rem .5rem;
    box-sizing: border-box;
}

.option {
    width: 100%;
    padding: .5rem;
    text-decoration: none;
    color:#fff;
    box-sizing: border-box;
    cursor: default;
    &--selected {
        background-color: #fff;
        color: black;
    }
}