.content {
    background-color: #2e71a3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: .5rem;
    color: #003256;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.title {   
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 10rem;
    text-shadow: 6px 6px 0px rgb(0 0 0 / 20%);
    line-height: normal;
}

.description {
    width: 95%;
    margin-bottom: 5%;
}

.sponsors {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
    img {
        border: 5px solid rgba(var(--primary-color), .6);
        background-color: rgba(var(--primary-color), .2);
        border-radius: 6px;
        padding: 1rem;
        height: 50px;
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 6rem;
    }
}