.alumni-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;
}

.alumni {
    width: 120px;
    padding: .5rem;
    &__image {
        width: 100%;
    }
    &:hover {
        background-color: hsla(240, 100%, 50%, 0.1);
    }
    &:focus {
        background-color: hsla(240, 100%, 50%, 0.3);
    }
}