<ng-container *ngIf="minimizeds$ | async as minimizeds">
    <div class="bar">
        <div class="bar__left-side" cdkDropList (cdkDropListDropped)="drop($event)">
            <img class="bar__menu" src="https://cyliis.ro/assets/LogoCyliis.png">
            <div class="bar__apps">
                <div class="app" [class.app--selected]="minimizeds.indexOf(minimized) == minimizeds.length - 1" (click)="onMaximize(minimized)" *ngFor="let minimized of list" cdkDrag cdkDragBoundary=".bar__apps">
                    <img class="app__img" [matTooltip]="minimized" matTooltipPosition="right" [src]="getImgUrl(minimized)">
                </div>
            </div>
        </div>
        <div class="bar__right-side">
            <img (click)="onOpenSettings(minimizeds)" class="bar__settings" src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png">
        </div>
    </div>
</ng-container>