.bar {
    border-radius: 10px;
    background-color: rgb(var(--primary-color));
    height: 100%;
}


.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    box-sizing: border-box;
    &__left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        aspect-ratio: 1;
        flex-direction: column;
        margin: .1rem 0 .5rem;
        border-radius: 6px;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        &:active {
            background-color: rgba(255, 255, 255, .5);
            .bar__menu-img {
                transform: scale(.9);
            }
        }
    }
    &__menu-img {
        box-sizing: border-box;
        padding: .3rem;
        height: auto;
        width: 100%;
    }
    &__apps {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    &__settings {
        display: flex;
        padding: 0 .1rem;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 6px;
        flex-direction: column;
        aspect-ratio: 1/1;
        cursor: pointer;
        width: 50px;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        &:active {
            background-color: rgba(255, 255, 255, .5);
            .bar__settings-img {
                transform: rotate(180deg);
            }
        }
    }
    &__settings-img {
        box-sizing: border-box;
        padding: .3rem;
        height: auto;
        width: 100%;
        transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.app {
    display: flex;
    flex-direction: column;
    padding: 0 .1rem;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    aspect-ratio: 1/1;
    &__img {
        padding: .4rem;
        transition: .2s cubic-bezier(.175, .885, .32, 1.275);
    }
    &__close-button {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 2;
        background-color: red;
        padding: 3px;
        border-radius: 50%;
        color: #fff;
        transform: scale(0);
        cursor: pointer;
        transition: .2s cubic-bezier(.175, .885, .32, 1.275);
    }
    &:hover {
        .app__close-button {
            transform: scale(.5);
        }
        background-color: rgba(255, 255, 255, 0.4);
    }
    &--selected {
        background-color: rgba(255, 255, 255, 0.6);
    }
    &:hover.app--selected {
        background-color: rgba(255, 255, 255, 0.7);
    }
    &:active &__img {
        transform: scale(.9);
    }
    &--minimized {
        background-color:  rgba(255, 255, 255, .1);
    }    
    &:hover.app--minimized.app--selected {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes appear {
    0% { transform: scale(0);}
    100% { transform: scale(1);}
}