@use '@angular/material' as mat;

.bar {
    border-radius: 10px;
    background-color: rgb(var(--primary-color));
    height: 100%;
}


.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    box-sizing: border-box;
    &__left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        aspect-ratio: 1;
        flex-direction: column;
        margin: .1rem 0 .5rem;
        user-select: none;
        border-radius: 6px;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        &:active {
            background-color: rgba(255, 255, 255, .5);
            .bar__menu-img {
                transform: scale(.9);
            }
        }
    }
    &__menu-img {
        box-sizing: border-box;
        padding: .3rem;
        height: auto;
        width: 100%;
    }
    &__apps {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    &__time {
        border-radius: 6px;
        aspect-ratio: 1/1;
        text-align: center;
        cursor: pointer;
        width: 50px;
        box-sizing: border-box;
        position: relative;
        user-select: none;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        &:focus {
            background-color: rgba(255, 255, 255, .5);
            .bar__info {
                display: flex!important;
            }
        }
    }
    &__time-hour {
        mix-blend-mode: hard-light;
        padding-top: .3rem;
    }
    &__info {
        z-index: 99999999;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 1.6rem 1.2rem 1.2rem;
        left: 4.5rem;
        top: -57px;
        gap: .3rem;
        position: absolute;
        background-color: rgb(var(--primary-color), .7);
        width: 180px;
        height: 110px;
        border-radius: 6px;
        user-select: none;
        @include mat.elevation(10);
    }
    &__info-hour {
        font-size: 2rem;
        line-height: normal;
        mix-blend-mode: hard-light;
    }
    &__settings-img {
        position: absolute;
        right: .5rem;
        top: .5rem;
        width: 20px;
        height: 20px;
        transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:active {
            transform: scale(.9);
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    padding: 0 .1rem;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    aspect-ratio: 1/1;
    user-select: none;
    &__img {
        padding: .4rem;
        transition: .2s cubic-bezier(.175, .885, .32, 1.275);
        animation: .2s appear cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &__close-button {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 2;
        background-color: red;
        padding: 3px;
        border-radius: 50%;
        color: #fff;
        transform: scale(0);
        cursor: pointer;
        transition: .2s cubic-bezier(.175, .885, .32, 1.275);
    }
    &:hover {
        .app__close-button {
            transform: scale(.5);
        }
        background-color: rgba(255, 255, 255, 0.4);
    }
    &--selected {
        background-color: rgba(255, 255, 255, 0.6);
    }
    &:hover.app--selected {
        background-color: rgba(255, 255, 255, 0.7);
    }
    &:active &__img {
        transform: scale(.9);
    }
    &--minimized {
        background-color:  rgba(255, 255, 255, .1);
    }    
    &:hover.app--minimized.app--selected {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media only screen and (max-width: 600px) {
    .bar {
        max-height: 95vh;
    }
}