.gallery {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap : wrap;
    gap: .5rem;
    padding: .5rem;
    box-sizing: border-box;
    &__item {
        padding: .5rem;
        width: 200px;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            background-color: hsla(240, 100%, 50%, 0.1);
        }
        &:focus {
            background-color: hsla(240, 100%, 50%, 0.3);
        }
    }
}