<div class="window mat-elevation-z2" cdkDrag [cdkDragDisabled]="fullscreen" #window>
    <div class="window__top-bar" cdkDragHandle (dblclick)="onFullScreen()">
        <div class="window__close-button" (click)="onClose()"></div>
        <div class="window__full-screen-button" (click)="onFullScreen()"></div>
        <div class="window__minimalize-button" (click)="onMinimalize()"></div>
        <span class="window__name">CyCL</span>
    </div>
    <div class="window__content" (click)="setInputFocus()">
        <div class="content" [innerHTML]="content"></div>
        <p *ngIf="init"></p>
        <span>{{dir}}</span><input #consoleInput class="console-input" spellcheck="false" (keydown)="onInput($event)">
    </div>
</div>