.cl {
    box-sizing: border-box;
    padding: .5rem;
    max-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.console-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    font-size: 14px;
    padding-left: 0;
    width: auto;
    width: 100%;
    padding-bottom: 5rem;
}

.input {
    display: flex;
}