<ng-container
  *ngIf="{
    windows: windows$ | async,
    minimalizeds: minimizeds$ | async
  } as vs">
  <app-settings *ngIf="vs.windows.includes('settings')" [class.hide]="vs.minimalizeds.includes('settings')"></app-settings>
  <app-gallery *ngIf="vs.windows.includes('gallery')" [class.hide]="vs.minimalizeds.includes('gallery')"></app-gallery>
  <app-team *ngIf="vs.windows.includes('team')" [class.hide]="vs.minimalizeds.includes('team')"></app-team>
  <app-alumni *ngIf="vs.windows.includes('alumni')" [class.hide]="vs.minimalizeds.includes('alumni')"></app-alumni>
</ng-container>
